@charset "UTF-8";
/* CSS Document */

.container { width: 960px;
			 height: 100%;
			 background-color: white;
		     margin: auto;
}

.aboutme{ 
	width: 900px;
			height: 290px;
			background-color: #DADADA;
			margin: auto;
			text-align: center;
			display: inline-block;
			font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
			color: #333333;
			font-size: 24px;
			background: rgb(51,51,51); /* Old browsers */

background: -moz-linear-gradient(top,  rgb(51,51,51) 4%, rgb(218,218,218) 96%); /* FF3.6-15 */

background: -webkit-linear-gradient(top,  rgb(51,51,51) 4%,rgb(218,218,218) 96%); /* Chrome10-25,Safari5.1-6 */

background: linear-gradient(to bottom,  rgb(51,51,51) 4%,rgb(218,218,218) 96%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#dadada',GradientType=0 ); /* IE6-9 */
}

#float{ float: right;
		margin-top: 50px;
		margin-right: 90px;

}

.circle{ border-radius: 50%;	
		 float: left;
		 margin-left: 90px;
		 margin-top: 70px;

}

.aboutmeportfolio{ 
			margin-left: 30px;	
			width: 960px;

}

.portfolio{ width: 900px;
			height: 290px;
			background-color: #DADADA;
			margin: auto;
			display:inline-block;
			margin-bottom: 10px;
}

.photo, .design, .media{ width: 287px;
						height: 280px;
						display: inline-block;
						margin: 5px 5px;
						font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
						font-size: 24px;
						color: black;
						margin-bottom: 20px;
}

.mediawork, .designinfo, .photoinfo{ position: relative;
			 						 top: 200px;
}

.photo { background-image:url( Images/Photography.JPG);
		 background-size: 100% 100%;
}

.design{ background-image:url(Images/Design.jpg);
		 background-size: 100% 100%;
}

.media{ background-image:url(Images/Media.png);
		 background-size: 100% 100%;
}

ul { margin-left: 30PX;
	text-align: center;
	width:960px;
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: #333333;
	font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
}

li {
    text-align: center;
}

li a {
    display: inline-block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

li a:hover {
    background-color: #111;
    
}
        
footer{ width: 900px;
	margin-left: 30px;
		margin-top: 10px;
	    background-color: #333333;
		color: white;
	    font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
		font-size: 12px;
		text-align: center;

}

.images{ width: 960px;
			height: 900px;
			background-color: #DADADA;
			margin: auto;
			display:inline-block;
			margin-bottom: 10px;
			
}

.images1, .images2, .images3{ 
						
						width: 900px;
						height: 280px;
						font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
						font-size: 24px;
						color: black;	
						margin-left: 30px;
						margin-top: 15px;
						
						
}

.divmain { width: 960px;
			 height: 825px;
			 margin: auto;
}



.div1, .div2{ width: 900px;
						height: 400px;
						text-align: center;
						font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
						font-size: 24px;
						color: black;	
						margin-left: 30px;
						/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#dadada+0,ffffff+25,ffffff+75,dadada+100 */

background: #dadada; /* Old browsers */

background: -moz-linear-gradient(left,  #dadada 0%, #ffffff 25%, #ffffff 75%, #dadada 100%); /* FF3.6-15 */

background: -webkit-linear-gradient(left,  #dadada 0%,#ffffff 25%,#ffffff 75%,#dadada 100%); /* Chrome10-25,Safari5.1-6 */

background: linear-gradient(to right,  #dadada 0%,#ffffff 25%,#ffffff 75%,#dadada 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#dadada', endColorstr='#dadada',GradientType=1 ); /* IE6-9 */




}

.designtext{ margin-left: 30px;
	         background-color: aqua;
}

.video{ 
	margin-left: 160px;
	margin-top: 50px;
}

.videodesc{ text-align: center;
			margin-left:160px;
			width: 620px;
			font-family: Cambria, "Hoefler Text", "Liberation Serif", Times, "Times New Roman", serif;
			font-size: 24px;
			/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#333333+11,ffffff+99 */

background: #333333; /* Old browsers */

background: -moz-linear-gradient(top,  #333333 11%, #ffffff 99%); /* FF3.6-15 */

background: -webkit-linear-gradient(top,  #333333 11%,#ffffff 99%); /* Chrome10-25,Safari5.1-6 */

background: linear-gradient(to bottom,  #333333 11%,#ffffff 99%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#333333', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */

}


#design{ margin-left: 150px;
		 
}

#design2{ margin-left: 300px;
}





